input[type="search"] {
  background-color: #f5f5f5;
}
.dt-auth-main {
  width: 400px;
  margin-top: 45px;
}
.dt-auth-main .card {
  box-shadow: 0 12px 18px 2px rgba(34, 0, 51, 0.04),
    0 6px 22px 4px rgba(7, 48, 114, 0.12),
    0 6px 10px -4px rgba(14, 13, 26, 0.12) !important;
  border-radius: 16px;
}
.dt-auth-main .dt-auth-login {
  height: 300px !important;
}
.dt-auth-main .dt-auth-signup {
  height: 340px !important;
}
.dt-auth-main header {
  text-align: center;
  margin: 30px 0 0 0;
  font-size: 24px;
}
.dt-auth-main section {
  width: 300px;
  margin: 10px auto;
}
.dt-auth-flash {
  font-size: 14px;
  color: #9c1a1c;
}
.dt-auth-input {
  margin-top: 10px;
}
.dt-auth-btn {
  margin: 30px 0 0 0;
}
.dt-search {
  height: 28px !important;
}
.dt-image-content {
  margin: 20px auto;
  padding: 0;
}
.dt-image-username {
  padding-top: 15px;
}
.dt-image-date {
  padding-top: 15px;
}
.dt-image-register-btn {
  padding: 10px 47px 0 0;
}
.dt-image-content header {
  padding: 10px 10px 0 10px;
}
.dt-image-content section {
  margin: auto;
  padding: 10px 0;
}
.dt-image-content footer {
  padding: 10px;
}
.dt-image-content section img {
  width: 100%;
}
.dt-image-file {
  display: none;
}
.dt-image-submit {
  margin-left: 10px;
}
.tablePage {
  font-size: 1px;
}
table {
  border-collapse: collapse;
}
td,
th {
  /* 各セルの指定 */
  padding: 5px 5px;
  border-bottom: 1px solid #c86b5b;
  border-right: 1px dotted #c86b5b;
}
th {
  /* 表の見出しの指定 */
  color: #c86b5b;
  text-align: center;
}
tr:first-child {
  /* 最初の行の指定 */
  border-bottom: 1px solid #c86b5b;
}
tr:last-child {
  /* 最後の行の指定 */
  border-bottom: 4px solid #c86b5b;
}
td:last-child {
  /* 一番左の列の指定 */
  border-right: 0;
}
th:last-child {
  /* 一番右の列の指定 */
  border-right: 0;
}
.navbar-light .navbar-toggler {
  border-color: rgba(0, 0, 0, 0);
}
/* サイドバーのスタイル */
.sidebar {
  float: left; /* もしくは float: right; */
  width: 250px; /* サイドバーの幅を調整 */
  background-color: #585858; /* サイドバーの背景色 */
  padding: 20px;
  box-sizing: border-box;
}

/* サイドバー内のリストスタイル */
.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

/* リンクのスタイル */
.sidebar a {
  text-decoration: none;
  color: #f8f8f8; /* リンクの色 */
}

.sidebar a:hover {
  color: #555; /* マウスオーバー時のリンクの色 */
}

/* サブナビゲーションのスタイル */
.sub-navbar {
  background-color: #333;
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

/* サブナビゲーションのリンクスタイル */
.sub-navbar a {
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
}
