input[type="search"] {
  background-color: #f5f5f5;
}
.dt-auth-main {
  width: 400px;
  margin-top: 45px;
}
.dt-auth-main .card {
  box-shadow: 0 12px 18px 2px rgba(34, 0, 51, 0.04),
    0 6px 22px 4px rgba(7, 48, 114, 0.12),
    0 6px 10px -4px rgba(14, 13, 26, 0.12) !important;
  border-radius: 16px;
}
.dt-auth-main .dt-auth-login {
  height: 300px !important;
}
.dt-auth-main .dt-auth-signup {
  height: 340px !important;
}
.dt-auth-main header {
  text-align: center;
  margin: 30px 0 0 0;
  font-size: 24px;
}
.dt-auth-main section {
  width: 300px;
  margin: 10px auto;
}
.dt-auth-flash {
  font-size: 14px;
  color: #9c1a1c;
}
.dt-auth-input {
  margin-top: 10px;
}
.dt-auth-btn {
  margin: 30px 0 0 0;
}
.dt-search {
  height: 28px !important;
}
.dt-image-content {
  margin: 20px auto;
  padding: 0;
}
.dt-image-username {
  padding-top: 15px;
}
.dt-image-date {
  padding-top: 15px;
}
.dt-image-register-btn {
  padding: 10px 47px 0 0;
}
.dt-image-content header {
  padding: 10px 10px 0 10px;
}
.dt-image-content section {
  margin: auto;
  padding: 10px 0;
}
.dt-image-content footer {
  padding: 10px;
}
.dt-image-content section img {
  width: 100%;
}
.dt-image-file {
  display: none;
}
.dt-image-submit {
  margin-left: 10px;
}
.tablePage {
  font-size: 10px;
  margin-right: 2em;
}
table {
  border-collapse: collapse;
}
td,
th {
  /* 各セルの指定 */
  padding: 5px 5px;
  border-bottom: 1px solid #c86b5b;
  border-right: 1px dotted #c86b5b;
}
th {
  /* 表の見出しの指定 */
  color: #c86b5b;
  text-align: center;
}
tr:first-child {
  /* 最初の行の指定 */
  border-bottom: 1px solid #c86b5b;
}
tr:last-child {
  /* 最後の行の指定 */
  border-bottom: 4px solid #c86b5b;
}
td:last-child {
  /* 一番左の列の指定 */
  border-right: 0;
}
th:last-child {
  /* 一番右の列の指定 */
  border-right: 0;
}
#tableTr #tableTd {
  padding: 0;
  height: 100%;
}
#tableTd a {
  display: block;
  width: 100%;
  height: 100%;
  color: #000;
  text-decoration: none;
  /* line-height: 100%; */
}

#tableTr td:hover {
  background-color: #bbff00;
  transition: all 0.2s;
}

.navbar-light .navbar-toggler {
  border-color: rgba(0, 0, 0, 0);
}
/* サイドバーのスタイル */
.sidebar {
  float: left; /* もしくは float: right; */
  width: 250px; /* サイドバーの幅を調整 */
  background-color: #585858; /* サイドバーの背景色 */
  padding: 20px;
  box-sizing: border-box;
}
#upBotton {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

/* サイドバー内のリストスタイル */
.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

/* リンクのスタイル */
.sidebar a {
  text-decoration: none;
  color: #f8f8f8; /* リンクの色 */
}

.sidebar a:hover {
  color: #555; /* マウスオーバー時のリンクの色 */
}

/* サブナビゲーションのスタイル */
.sub-navbar {
  background-color: #333;
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

/* サブナビゲーションのリンクスタイル */
.sub-navbar a {
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
}
.nav-user {
  display: block;
  padding: 0.5rem 1rem;
}
#nav-auth {
  position: relative;
}
#nav-auth::after {
  opacity: 0;
  transition: all 0.2s;
}
#nav-auth:hover::after {
  content: "";
  opacity: 1;
  height: 2px;
  width: 100%;
  background-color: #9c1a1c;
  position: absolute;
  bottom: 0;
  left: 0;
}
.search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1em auto 2em auto;
  padding: 1em;
  justify-content: space-between;
  background-color: #fafafc;
  border: 1px solid #c4c4c4;
  box-shadow: 0 12px 18px 2px rgba(34, 0, 51, 0.04),
    0 6px 22px 4px rgba(7, 48, 114, 0.12),
    0 6px 10px -4px rgba(14, 13, 26, 0.12) !important;
  border-radius: 50px;
  min-width: 300px; /* Set a minimum width here */
  max-width: 800px;
}
@media (max-width: 576px) {
  .search {
    margin: 0em auto 2em auto;
    height: 50%;
  }
}

#diary-search {
  margin-bottom: 0;
  margin-left: 1em;
  margin-right: 2em;
}
/* 検索ボックスのスタイル */
.search > form {
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 576px) {
  .search > form {
    align-items: center;
    justify-content: center;
    margin-right: 1em;
  }
}

/* テキスト入力フィールドのスタイル */
#indexInput input[type="text"],
#indexInput input[type="date"] {
  padding: 5px;
  border: 2px solid #0069d9; /* ボーダーの色 */
  border-radius: 5px; /* 角丸 */
  outline: none; /* フォーカス時の枠線を削除 */
  transition: border-color 0.3s; /* ボーダーの色が変化するアニメーション */
  height: 2em;
}
#indexInput input[type="text"] {
  min-width: 100px;
  width: 50%;
  margin: 2px;
}
#indexInput input[type="date"] {
  max-width: 110px;
  padding: 0;
  margin: 2px;
}

/* テキスト入力フィールドのフォーカス時のスタイル */
#indexInput input[type="text"]:focus,
#indexInput input[type="date"]:focus {
  border-color: #e74c3c; /* フォーカス時のボーダーの色 */
}
/* テキスト入力フィールドのスタイル */
#indexInput input[type="password"] {
  padding: 5px;
  border: 2px solid #0069d9; /* ボーダーの色 */
  border-radius: 5px; /* 角丸 */
  outline: none; /* フォーカス時の枠線を削除 */
  transition: border-color 0.3s; /* ボーダーの色が変化するアニメーション */
  width: 300px; /* 幅を調整 */
}

/* テキスト入力フィールドのフォーカス時のスタイル */
#indexInput input[type="password"]:focus {
  border-color: #e74c3c; /* フォーカス時のボーダーの色 */
}

/* サブミットボタンのスタイル */
#indexInput input[type="submit"] {
  background-color: #0069d9; /* ボタンの背景色 */
  color: white; /* ボタンのテキスト色 */
  padding: 7px 15px;
  margin: 3px;
  border: none;
  border-radius: 5px; /* 角丸 */
  cursor: pointer;
  transition: background-color 0.3s; /* 背景色が変化するアニメーション */
  font-size: 16px;
  max-width: 300px;
}
/* テキスト入力フィールドのスタイル */
input[type="text"] {
  padding: 5px;
  border: 2px solid #0069d9; /* ボーダーの色 */
  border-radius: 5px; /* 角丸 */
  outline: none; /* フォーカス時の枠線を削除 */
  transition: border-color 0.3s; /* ボーダーの色が変化するアニメーション */
  width: 300px; /* 幅を調整 */
  min-width: 100px;
}

/* テキスト入力フィールドのフォーカス時のスタイル */
input[type="text"]:focus {
  border-color: #e74c3c; /* フォーカス時のボーダーの色 */
}
/* テキスト入力フィールドのスタイル */
input[type="password"] {
  padding: 5px;
  border: 2px solid #0069d9; /* ボーダーの色 */
  border-radius: 5px; /* 角丸 */
  outline: none; /* フォーカス時の枠線を削除 */
  transition: border-color 0.3s; /* ボーダーの色が変化するアニメーション */
  width: 300px; /* 幅を調整 */
}

/* テキスト入力フィールドのフォーカス時のスタイル */
input[type="password"]:focus {
  border-color: #e74c3c; /* フォーカス時のボーダーの色 */
}

/* サブミットボタンのスタイル */
input[type="submit"] {
  background-color: #0069d9; /* ボタンの背景色 */
  color: white; /* ボタンのテキスト色 */
  padding: 7px 15px;
  border: none;
  border-radius: 5px; /* 角丸 */
  cursor: pointer;
  transition: background-color 0.3s; /* 背景色が変化するアニメーション */
  font-size: 16px;
}

/* サブミットボタンのホバー時のスタイル */
input[type="submit"]:hover {
  background-color: #2980b9; /* ホバー時の背景色 */
}
#diary-upload {
  /* margin: 3em 0 0 auto; */
  position: fixed;
  bottom: 8%;
  right: 0;
  width: 20%;
  min-width: 150px;
  padding-right: 5%;
  z-index: 3;
}
#diary-upload > a {
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}
#diary-goup {
  /* margin: 3em 0 0 auto; */
  position: fixed;
  bottom: 8%;
  left: 0;
  width: 20%;
  min-width: 150px;
  padding-right: 5%;
  z-index: 3;
}
#diary-goup > a {
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#diary-post {
  border-radius: 10px;
}
#diaryAll {
  position: relative;
  transition: all 0.2s;
  margin: 10px 0px;
}
#diaryAll > header {
  margin: 0%;
}
#diaryAll > section {
  padding: 5px 5px 5px 5px;
}
#diaryAll > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#diaryAll:hover {
  cursor: pointer;
  background: #ffd700;
}
#diaryAll > section > img {
  border-radius: 5px;
}
#allImagetext > p {
  margin: 0%;
  padding: 0 10px 0 10px;
}
@media (max-width: 991.98px) {
  #diaryAll {
    width: 40%;
    margin: 10px auto;
  }
  #diaryAll > header {
    height: 25px;
    padding-top: 5px;
  }
  #allImagetext > p {
    font-size: xx-small;
  }
}

.page-item.active .page-link {
  color: #212529;
  border-color: #f2f2f2;
  background-color: #f2f2f2;
}

.pagination {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 10px 0 10px 0;
}

.pagination li {
  margin: 0 5px;
}

.pagination li.active a {
  font-weight: bold;
}

.pagination li a {
  text-decoration: none;
  color: #000;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.pagination li a:hover {
  background-color: #f5f5f5;
}

footer {
  margin-bottom: 5em;
}

.allDaySaturday {
  color: #0066ff;
}
.allDaySunday {
  color: #ff0000;
}

#page_top {
  width: 90px;
  height: 90px;
  position: fixed;
  left: 0;
  bottom: 0;
  opacity: 0.6;
}
#page_top a {
  position: relative;
  display: block;
  width: 90px;
  height: 90px;
  text-decoration: none;
}
#page_top a::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f102";
  font-size: 25px;
  color: #3f98ef;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -40px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
#page_top a::after {
  content: "PAGE TOP";
  font-size: 13px;
  color: #fff;
  position: absolute;
  top: 45px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
  color: #3f98ef;
}

#diary-post > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#diary-post:hover {
  cursor: pointer;
  background: #ffd700;
  transition: all 0.3s;
}

.form-control-file {
  width: 350px;
  height: 40px;
  font-size: 16px;
}

#formSelect {
  display: none;
}

#testForm > label {
  padding: 10px 40px;
  color: #ffffff;
  border-radius: 5px;
  background-color: #384878;
  cursor: pointer;
}

.custom-list {
  list-style-type: none;
}
