<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>ユーザー編集画面</title>
    <link
      rel="stylesheet"
      href="{{url_for('crud.static',filename = 'style.css')}}"
    />
  </head>
  <h2>ユーザー編集</h2>
  <a href="{{ url_for('crud.create_user') }}">ユーザー新規作成</a>
  <table>
    <tr>
      <th>ユーザーID</th>
      <th>ユーザー名</th>
      <th>メールアドレス</th>
    </tr>
    {% for user in users %}
    <tr>
      <td>{{ user.id }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.email }}</td>
    </tr>
    {% endfor %}
  </table>
</html>
