{% extends "diary/base.html" %}
{% block title %}ホーム{% endblock %}
{%block content %}
<div class="text-center mt-3">
<img src="{{ url_for('static', filename='images/biglogo.png')}}" alt="logo" class="mx-auto " style="height: 100px">
</div>
<div class="container mt-5">
  <h2>日記の特徴</h2>
  <p>個人的にこんな日記アプリがあればいいなぁという気持ちで作りました.</p>

  <h2>日記の始め方</h2>
  <ol>
    <li>右上の新規登録ボタンから必要事項を記入</li>
    <div class="text-center mt-3">
    <img src="{{ url_for('static', filename='images/way1.png')}}" alt="logo" class="mx-auto " style="height: 400px">
    </div>
      <li>次回以降は,ログインで自分のアカウントに入ってください</li>
      <li></li>
  </ol>

  <h2>注意</h2>
  <p>このサイトは個人による開発,運営のため一切のプライバシー及びセキュリティーに関し担保しかねます.</p>
</div>
{% endblock %}