{% extends "diary/base.html" %}
{% block content %}
<!-- 画像アップロード画面へのリンクを追加する -->
<div class="col-md-3 dt-image-register-btn" id="diary-upload">
    <a href="{{ url_for('diary.upload_diary') }}" class="btn btn-primary " >日記投稿</a>
</div>
<div class="col-md-3 dt-image-register-btn" id="diary-goup">
</div>
<!-- 今日の年月日および曜日を表示する -->
<div class="col-md-5">
    <h3>日記一覧</h3>
</div>
<!-- 画像一覧を表示する -->
<div class="row">
{% for diary in diaries %}
    {% if diary.UserImage.date %}
        {% set diary_date = diary.UserImage.date.strftime('%Y-%m-%d') %}
        <div class="card col-lg-2  dt-image-content" id="diaryAll">
            <header class="d-flex justify-content-between" >
                <!-- 日付を表示 (存在しない場合は表示しない) -->
                <h6 id="allDate">{{ diary_date }}</h6>
                <h6 class="allDay">(</h6>
                {% if diary.UserImage.day_of_week == 'Sat' %}
                    <h6 class="allDaySaturday">{{ diary.UserImage.day_of_week }}</h6> <!-- 曜日を表示 -->
                {% elif diary.UserImage.day_of_week == 'Sun' %}
                    <h6 class="allDaySunday">{{ diary.UserImage.day_of_week }}</h6> <!-- 曜日を表示 -->
                {% else %}
                    <h6 class="allDay">{{ diary.UserImage.day_of_week }}</h6> <!-- 曜日を表示 -->
                {% endif %}
                <h6 class="allDay">)</h6>
                <hr/>
            </header>
            <div class="dt-image-text" id="allImagetext">
                <p >{{ diary.UserImage.diary_text }}</p>
            </div>
            <a href="{{ url_for('diary.edit_diary', date=diary_date) }}"></a>

            {% if diary.UserImage.image_path %}
            <img class="my-auto" src="{{ url_for('diary.image_file', user_id=diary.UserImage.user_id, filename=diary.UserImage.image_path) }}" alt="アップロード画像" />
            {% else %}
                <p></p>
            {% endif %}
            </div>
    {% endif %}
{% endfor %}
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-auto">
            {{ pagination.links }}
        </div>
    </div>
</div>
{% endblock %}
