{% extends "diary/base.html" %}
{% block content %}
<div>
    <h4>投稿編集</h4>
    <form action="{{ url_for('diary.edit_diary', date=diary.UserImage.date) }}" method="post" enctype="multipart/form-data"
    novalidate="novalidate">
    {{ form.csrf_token }}
    <div>
        <label for="date">日付</label>
        {{ form.date(class="form-control", id="date",value=diary.UserImage.date) }}
        <datalist id="data">
            <option value="2021-11-05"></option>
            <option value="2021-11-10"></option>
            <option value="2021-11-15"></option>
        </datalist>
    </div>
    <div>
        <div>
            <label>
                <span> {{ form.image(class="form-control-file",id="image") }} </span>
            </label>
        </div>
        <div class="card col-md-7 dt-image-content">
            <section>
                {% if diary.UserImage.image_path %}
                <img src="{{ url_for('diary.image_file', user_id=diary.UserImage.user_id, filename=diary.UserImage.image_path) }}" alt="アップロード画像" />
                {% else %}
                    <p>写真が投稿されていません</p>
                {% endif %}
            </section>
        </div>
    </div>
    <div>
        <label for="diary_text">日記の文章</label>
        <label>
            {% set f = form.diary_text.process_data(diary.UserImage.diary_text) %}
            <span> {{ form.diary_text(class="form-control") }} </span>
        </label>
        {% for error in form.diary_text.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </div>
    <hr />
    <div>
        <label>{{ form.submit(class="btn btn-primary") }}</label>
    </div>
    </form>
</div>
{% endblock %}
