{% extends "diary/base.html" %}
{% block content %}

<div class="search">
    <h5 class="d-flex align-items-center" id="diary-search">日記検索</h5>
    <form method="POST">
        {{ form.csrf_token }}
        <input type="text" name="search_term"  required="required" placeholder="検索キーワード">
        <input type="submit" value="検索">
    </form>
</div>

<!-- 画像アップロード画面へのリンクを追加する -->
<div class="col-md-3 dt-image-register-btn" id="diary-upload">
    <a href="{{ url_for('diary.upload_diary') }}" class="btn btn-primary " >日記投稿</a>
</div>
<!-- 今日の年月日および曜日を表示する -->
<div class="col-md-5">
    <h4 id="today">Today: {{ current_date }}({{ current_day }})</h4>
</div>

<!-- 画像一覧を表示する -->
{% for diary in diaries %}
    {% if diary.UserImage.date %}
        {% set diary_date = diary.UserImage.date.strftime('%Y-%m-%d') %}
        {% if diary_date[-5:] == current_date[-5:] %}
            <!-- 年月日の後半（月日部分）が一致する場合に表示 -->
            <div class="card col-md-7 dt-image-content" id="diary-post">
                <header class="d-flex justify-content-between">
                    <!-- 日付を表示 (存在しない場合は表示しない) -->
                    <h4>{{ diary_date }}</h4>
                    <hr>
                </header>
                <div class="dt-image-text mx-2">
                    <p>{{ diary.UserImage.diary_text }}</p>
                </div>
                <section>
                    {% if diary.UserImage.image_path %}
                    <img src="{{ url_for('diary.image_file', user_id=diary.UserImage.user_id, filename=diary.UserImage.image_path) }}" alt="アップロード画像" />
                    {% else %}
                        <p></p>
                    {% endif %}
                </section>
            </div>
        {% endif %}
    {% endif %}
{% endfor %}

{% endblock %}
