{% extends "diary/base.html" %}
{% block content %}
<div>
    <h4>新規投稿</h4>
    <form action="{{ url_for('diary.upload_diary') }}" method="post" enctype="multipart/form-data"
    novalidate="novalidate">
    {{ form.csrf_token }}
    <input type="date" min="2021-11-20" step="7">
    <input type="date" list="data">
    <datalist id="data">
    <option value="2021-11-05"></option>
    <option value="2021-11-10"></option>
    <option value="2021-11-15"></option>
    {% for exist_date in exist_dates %}
        <option value="{{ exist_date }}">{{ exist_date }}</option>
    {% endfor %}
    </datalist>

    <div>
        <label>
            <span> {{ form.date(class="form-control-file", default=latest_date) }} </span>
        </label>
    </div>
        <div>
            <label>
                <span> {{ form.image(class="form-control-file") }} </span>
            </label>
        </div>
        <div>
            <label>
                <span> {{ form.diary_text(class="form-control") }} </span>
            </label>
            {% for error in form.diary_text.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        {% for error in form.image.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
        <hr />
        <div>
            <label> {{ form.submit(class="btn btn-primary") }} </label>
        </div>
    </form>
</div>
{% endblock %}