{% extends "diary/base.html" %}
{% block content %}
<h1>日記検索</h1>
<form method="POST">
    {{ form.csrf_token }}
    <input type="text" name="search_term" placeholder="検索キーワード">
    <input type="submit" value="検索">
</form>
{% if search_term %}
    <h2>検索結果 for "{{ search_term }}"</h2>
    <!-- 画像一覧を表示する -->
    {% for diary in diaries %}
    {% if diary.UserImage.date %}
        {% set diary_date = diary.UserImage.date.strftime('%Y-%m-%d') %}
        <div class="card col-md-7 dt-image-content">
            <header class="d-flex justify-content-between">
                <!-- 日付を表示 (存在しない場合は表示しない) -->
                <h2>{{ diary_date }}</h2>
                <hr>
            </header>
            <div class="dt-image-text">
                <p>{{ diary.UserImage.diary_text }}</p>
            </div>
            <section>
                <img src="{{ url_for('diary.image_file',  user_id=diary.UserImage.user_id,filename=diary.UserImage.image_path) }}" alt="アップロード画像" />
            </section>
        </div>
    {% endif %}
    {% endfor %}
{% endif %}
{% endblock %}
