{% extends "diary/base.html" %}
{% block content %}
<div>
    <!-- Flashメッセージを表示 -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="alert alert-{{ messages[0][0] }} text-danger mt-3" >
            {{ messages[0][1] }}
        </div>
    {% endif %}
    {% endwith %}


    <h4 class="mt-4 text-center">新規投稿</h4>
    <form class=" center-block text-center mt-5" method="POST" enctype="multipart/form-data" >
        {{ form.csrf_token }}
        <label>
            <span>{{ form.date(class="form-control-file", value=latest_date) }}</span>
        </label>
        <div class="my-3" id="testForm">
            <label class="mx-auto" for="formSelect" id="fileLabel">
                <span>{{ form.image(class="form-control-file", id="formSelect") }}ファイルを選択</span>
            </label>
            <p id="fileName" style="display: none;"></p>
            <div id="imageContainer" style="display: none;">
                <img id="selectedImage" src="" alt="Selected Image" class="img-fluid " style="max-width: 400px; max-height: 400px;">
            </div>

        </div>
        {% for error in form.image.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
        <div class="mb-3 ">
            <div>
                <label class="mx-auto">
                    <textarea class="form-control" id="exampleFormControlTextarea1" name="diary_text" rows="10" value = "" style="width: 350px; height: 200px;" placeholder="投稿内容" ></textarea>
                </label>
            </div>
        </div>
        {% for error in form.diary_text.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
        <hr />
        <div class="mt-5 text-right">
            <label>{{ form.submit(class="btn btn-diary") }}</label>
        </div>
    </form>

{% endblock %}